<h1>Change My Password</h1>

<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
  <%= f.error_messages %>
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :confirm_password %><br />
  <%= f.password_field :confirm_password %><br />
  <br />
  <%= f.submit "Update my password and log me in" %>
<% end %>